*
{
    font-family: Arial, Helvetica, sans-serif; /* Altera as fontes do projeto */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    color: white;
    background-color: black;
    display: flex;
    align-content: center;
    justify-content: center;
    height: 100vh;
}

.container
{
    width: min(800px, 90%);
}

.title-box
{
    background-color: #007bff;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 2px;   
}

.title-box h1 
{
    margin: 0;
    font-size: 24px;
}

.title-box p 
{
    margin: 10px 0 0;
    font-size: 16px;
}

.navbar-box 
{
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 5px;
    justify-items: space-around;
    text-align: center;
}

.navbar-box a 
{
    
    color: #007bff;
    text-decoration: none;
    font-size: 16px;
    margin: 10px 0;
    padding: 5px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}
  
.navbar-box a:hover 
{
    background-color: #007bff;
    color: white;
}

.navbar-box ul
{
    display: flex; /* Altera a forma de display */
    justify-content: space-around; /* Ajusta o espaçamento */
    list-style-type: none; /* Altera a bolinha da lista */
    align-items: center; /* Alinha ao centro */
}

main
{
    padding: 20px;   
}

fieldset
{
    border: none;
}

section img
{
    width: 150px; /* Largura em Pixels */
    height: 150px; /* Altura em Pixels */
    border-radius: 50%; /* Para deixar circular */
    border: 5px solid blue;
    display: none; 
}

.hidden
{
    display: none;
}

button 
{
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button.active 
{
    background-color: #007bff;
    color: white;
}

button:hover 
{
    background-color: #0056b3;
}

.dropdown 
{
    padding: 5px;
    font-size: 12px;
    margin: 5px;
    cursor: pointer;
}
  
select 
{
    border: 1px solid #ccc;
    border-radius: 5px;
}
